* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(87, 87, 87, 0.349)),url(./assets/images/heropage1.jpg);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/*navbar*/

nav, .navbar-container {
    height: 100px;
    width: 100%;
    background-color: #444;
    position: fixed top;

}

.logo {
    margin-top: 12.5px;
}


nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.1rem;
    padding: 7px 13px;
    border-radius: 10px;
}

a.active,a:hover {
    background: #6b6b6b;
    transform: .5s;
}

.checkbtn {
    color: white;
    font-size: 100px;
    float: right;
}








/*content*/

.content {
    width: 35%;
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translateY(-50%);
    transform: translateX(-25%);
    word-wrap: break-word;
    color: #fff;
}
